.success-upload {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__title {
        font-size: 16px;
        font-weight: 500;
    }

    &__buttons {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}
