.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    padding: 0 32px;
    background: #A34AF6;
    border-radius: 12px;

    &.white {
        background: #F5F7F8;
        border: 1px solid #A34AF6;
        color: #A34AF6;
    }
}