.second-video {

    &__wrapper {
        display: grid;
        grid-template-columns: 223px 1fr;
        gap: 40px;
        padding: 24px 0;
    }

    &__load {
        font-weight: 600;
        font-size: 16px;
        color: #000000;
    }

    &__select-options {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 24px;
        height: 100%;

        &-buttons {
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }

    &__block {
        display: flex;
        flex-direction: column;
        gap: 40px;

        & > span {
            font-size: 16px;
            font-weight: 500;
        }
    }

    &__add-sticker {
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 16px;

        & > span {
            font-size: 12px;
            color: #979797;
        }

        & > button {
            font-size: 14px ;
            color: #979797;
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__checkboxes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px 48px;
        width: fit-content;
    }
}