.select-second-video {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 14px;
    font-weight: 300;

    & > span:first-child {
        font-size: 16px;
        font-weight: 500;
    }

    &__buttons {
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 16px;

        & > div {
            display: flex;
            align-items: center;
            gap: 20px;

            & > label {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                background: #A34AF6;
                border-radius: 12px;
                padding: 0 32px;
                font-size: 14px;
                color: #FFFFFF;
                cursor: pointer;
            }
        }

        & > button {
            color: #A34AF6;
            font-size: 14px;
        }
    }
}